<a href="https://colab.research.google.com/github/rajat05jain/Python/blob/master/firstPythonTask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
print("hello")

hello

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [0]:
project_id = 'exploring-data-analysis'

In [0]:
from google.cloud import bigquery
client = bigquery.Client(project=project_id)

In [0]:
myQUERY = """
        SELECT license, COUNT(*) AS count
        FROM `bigquery-public-data.github_repos.licenses`
        GROUP BY license
        ORDER BY COUNT(*) DESC
        """

In [17]:
dry_run_config = bigquery.job.QueryJobConfig()
dry_run_config.dry_run = True
dry_run_job = client.query(myQUERY, job_config=dry_run_config)
print("This query will process ",dry_run_job.total_bytes_processed/ (1024*1024),"MB when run. ")

This query will process  24.805376052856445 MB when run.

In [14]:
help(bigquery.job.QueryJobConfig)

Help on class QueryJobConfig in module google.cloud.bigquery.job:

class QueryJobConfig(_JobConfig)
 |  Configuration options for query jobs.
 |
 |  All properties in this class are optional. Values which are :data:`None` ->
 |  server defaults. Set properties on the constructed configuration by using
 |  the property name as the name of a keyword argument.
 |
 |  Method resolution order:
 |      QueryJobConfig
 |      _JobConfig
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  to_api_repr(self)
 |      Build an API representation of the query job config.
 |
 |      Returns:
 |          dict: A dictionary in the format used by the BigQuery API.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  allow_large_results
 |      bool: Allow large query results tables (legacy SQL, only)
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.allowLargeResults
 |
 |  clustering_fields
 |      Union[List[str], None]: Fields defining clustering for the table
 |
 |      (Defaults to :data:`None`).
 |
 |      Clustering fields are immutable after table creation.
 |
 |      .. note::
 |
 |         As of 2018-06-29, clustering fields cannot be set on a table
 |         which does not also have time partioning defined.
 |
 |  create_disposition
 |      google.cloud.bigquery.job.CreateDisposition: Specifies behavior
 |      for creating tables.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.createDisposition
 |
 |  default_dataset
 |      google.cloud.bigquery.dataset.DatasetReference: the default dataset
 |      to use for unqualified table names in the query or :data:`None` if not
 |      set.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/v2/jobs#configuration.query.defaultDataset
 |
 |  destination
 |      google.cloud.bigquery.table.TableReference: table where results are
 |      written or :data:`None` if not set.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.destinationTable
 |
 |  destination_encryption_configuration
 |      google.cloud.bigquery.table.EncryptionConfiguration: Custom
 |      encryption configuration for the destination table.
 |
 |      Custom encryption configuration (e.g., Cloud KMS keys) or :data:`None`
 |      if using default encryption.
 |
 |      See
 |      https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.query.destinationEncryptionConfiguration
 |
 |  dry_run
 |      bool: :data:`True` if this query should be a dry run to estimate
 |      costs.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/v2/jobs#configuration.dryRun
 |
 |  flatten_results
 |      bool: Flatten nested/repeated fields in results. (Legacy SQL only)
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.flattenResults
 |
 |  maximum_billing_tier
 |      int: Deprecated. Changes the billing tier to allow high-compute
 |      queries.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.maximumBillingTier
 |
 |  maximum_bytes_billed
 |      int: Maximum bytes to be billed for this job or :data:`None` if not set.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.maximumBytesBilled
 |
 |  priority
 |      google.cloud.bigquery.job.QueryPriority: Priority of the query.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.priority
 |
 |  query_parameters
 |      List[Union[google.cloud.bigquery.query.ArrayQueryParameter,         google.cloud.bigquery.query.ScalarQueryParameter,         google.cloud.bigquery.query.StructQueryParameter]]: list of parameters
 |      for parameterized query (empty by default)
 |
 |      See:
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.queryParameters
 |
 |  schema_update_options
 |      List[google.cloud.bigquery.job.SchemaUpdateOption]: Specifies
 |      updates to the destination table schema to allow as a side effect of
 |      the query job.
 |
 |  table_definitions
 |      Dict[str, google.cloud.bigquery.external_config.ExternalConfig]:
 |      Definitions for external tables or :data:`None` if not set.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.tableDefinitions
 |
 |  time_partitioning
 |      google.cloud.bigquery.table.TimePartitioning: Specifies time-based
 |      partitioning for the destination table.
 |
 |  udf_resources
 |      List[google.cloud.bigquery.query.UDFResource]: user
 |      defined function resources (empty by default)
 |
 |      See:
 |      https://g.co/cloud/bigquery/docs/reference/rest/v2/jobs#configuration.query.userDefinedFunctionResources
 |
 |  use_legacy_sql
 |      bool: Use legacy SQL syntax.
 |
 |      See
 |      https://g.co/cloud/bigquery/docs/reference/v2/jobs#configuration.query.useLegacySql
 |
 |  use_query_cache
 |      bool: Look for the query result in the cache.
 |
 |      See
 |      https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.query.useQueryCache
 |
 |  write_disposition
 |      google.cloud.bigquery.job.WriteDisposition: Action that occurs if
 |      the destination table already exists.
 |
 |      See
 |      https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.query.writeDisposition
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from _JobConfig:
 |
 |  from_api_repr(resource) from builtins.type
 |      Factory: construct a job configuration given its API representation
 |
 |      :type resource: dict
 |      :param resource:
 |          An extract job configuration in the same representation as is
 |          returned from the API.
 |
 |      :rtype: :class:`google.cloud.bigquery.job._JobConfig`
 |      :returns: Configuration parsed from ``resource``.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from _JobConfig:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  labels
 |      Dict[str, str]: Labels for the job.
 |
 |      This method always returns a dict. To change a job's labels,
 |      modify the dict, then call ``Client.update_job``. To delete a
 |      label, set its value to :data:`None` before updating.
 |
 |      Raises:
 |          ValueError: If ``value`` type is invalid.

In [15]:
help(client.query)

Help on method query in module google.cloud.bigquery.client:

query(query, job_config=None, job_id=None, job_id_prefix=None, location=None, project=None, retry=<google.api_core.retry.Retry object at 0x7fad5bff34a8>) method of google.cloud.bigquery.client.Client instance
    Run a SQL query.

    See
    https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configuration.query

    Arguments:
        query (str):
            SQL query to be executed. Defaults to the standard SQL
            dialect. Use the ``job_config`` parameter to change dialects.

    Keyword Arguments:
        job_config (google.cloud.bigquery.job.QueryJobConfig):
            (Optional) Extra configuration options for the job.
            To override any options that were previously set in
            the ``default_query_job_config`` given to the
            ``Client`` constructor, manually set those options to ``None``,
            or whatever value is preferred.
        job_id (str): (Optional) ID to use for the query job.
        job_id_prefix (str):
            (Optional) The prefix to use for a randomly generated job ID.
            This parameter will be ignored if a ``job_id`` is also given.
        location (str):
            Location where to run the job. Must match the location of the
            any table used in the query as well as the destination table.
        project (str):
            Project ID of the project of where to run the job. Defaults
            to the client's project.
        retry (google.api_core.retry.Retry):
            (Optional) How to retry the RPC.

    Returns:
        google.cloud.bigquery.job.QueryJob: A new query job instance.

In [20]:
df=client.query(myQUERY).to_dataframe()

Full dataset has 15 rows and 2 columns.

In [21]:
print('Full dataset has %d rows and %d columns. ' % (df.shape[0], df.shape[1]))

Full dataset has 15 rows and 2 columns.

In [22]:
df.describe()

              count
count  1.500000e+01
mean   2.233593e+05
std    4.385058e+05
min    8.696000e+03
25%    2.369450e+04
50%    4.148500e+04
75%    2.484410e+05
max    1.710122e+06

In [24]:
df.head(10)

        license    count
0           mit  1710122
1    apache-2.0   493503
2       gpl-2.0   345658
3       gpl-3.0   343615
4  bsd-3-clause   153267
5  bsd-2-clause    56028
6     unlicense    46772
7      agpl-3.0    41485
8      lgpl-3.0    40074
9       cc0-1.0    27040

In [27]:
df

         license    count
0            mit  1710122
1     apache-2.0   493503
2        gpl-2.0   345658
3        gpl-3.0   343615
4   bsd-3-clause   153267
5   bsd-2-clause    56028
6      unlicense    46772
7       agpl-3.0    41485
8       lgpl-3.0    40074
9        cc0-1.0    27040
10       epl-1.0    24412
11      lgpl-2.1    22977
12       mpl-2.0    18930
13           isc    17811
14  artistic-2.0     8696